@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
	--font-main: 'Roboto', 'Helvetica', sans-serif; 
	--font-hdr: 'Roboto Slab', 'Times New Roman', serif;
	--small-text-size: .8rem;
	--regular-text-size: 1rem;
	--larger-text-size: 1.5rem;
}

body {
	margin: 0;
	font-family: var(--font-main);
}

h1 {
	margin: 0%;
	font-family: var(--font-hdr)
}

/* Design Classes */

.bold {
	font-weight: bold;
}

.small-text {
	font-size: var(--small-text-size)
}

.regular-text {
	font-size: var(--regular-text-size)
}

.larger-text {
	font-size: var(--larger-text-size)
}

.green-text {
	color: green;
}

.visible {
	transform: scale(1);
}

.invisible {
	transform: scale(0);
}
/* --- Website Header --- */

header {
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-family: var(--font-hdr)
}

/* Home Button */
#logo{
	align-items: center;
	max-height: 15vw;
	transition: transform .5s ease-in-out;
}

#home-anchor img:hover {
	transform: scale(1.2)
}
/* Phone Number */
#hdr-phn-nmbr {
	align-self: center;
	margin-right: 1%;
}
#hdr-phn-nmbr a {
	text-decoration: none;
}


/* --- INDEX.HTML --- */
#t-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: green;
	font-family: var(--font-hdr)
}


/* Call to Action */

#cta {
	background-image: url(/Resources/cta-background.jpg);
	background-size: cover;
	display: inline-grid;
	grid-template-columns: 15% 15% 25% 25% 30%;
	grid-template-rows: auto auto auto;
	gap: 5%;	
	padding-bottom: 10%;
	width: 100%;
}

#cta * {
	margin-left: 2%;
}

#cta-hdr {
	grid-column: 1/3;
	grid-row: 1/1;
}

#cta-sub-hdr {
	grid-column: 1/3;
	grid-row: 2/3
}

#cta-call-btn {
	grid-column: 1/2;
	grid-row: 3/4;
}


.cta-btn {
	font-family: var(--font-main);
	font-size: var(--larger-text-size);
	font-weight: 700;
	width: 100%;
	height: 100%;
	background-color: green;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	transition: transform .5s ease-in-out;
	padding: 10%;
}

.cta-btn:hover {
	transform: scale(1.1)
}


/* Perks */
#perks {
	margin: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.perk-bubble {
	background-color: transparent;
	text-align: center;
}

.perk-i {
	fill: green;
	height: 75px;
	width: 75px;
}

/* More Information */ 
/* Check Marks for List */
.check::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: green;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.check::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: green;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}


/* Service Section Selectors */
#services {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9f9;
	padding-bottom: 4%;
	padding-top: 4%;
}

#services li {
	white-space: nowrap;
	list-style: none;
}

#svc-lists {
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: space-evenly;
}

.svc-hdr {
	text-align: center;
}

.check {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
	margin-right: 5%
}


/* Why Choose ZFIX Selectors */ 
#why {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#why-hdr {
	position: relative;
	transition: all 1s ease-in-out;
}

#why-btn-cntnr {
	position: relative;
	transition: all 1s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 4vh;
	background-color: green;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(50,50,50, .5);
}

#why-btn {
	background-color: transparent;
	border: none;
	font-size: var(--larger-text-size)
}

/* Slide Show Selectors */
#why-slide-cntnr {
	position: relative;
	transition: all 1s ease-in-out;
	right: 105%;
}

.why-slide-desc::before {
	content: '';
	position: absolute;
	right: 0%;
	width: 100%;
	height: 100%;
	background-image: url(/Resources/computer-repair.jpg);
	background-size:cover;
	border-radius: 15px;
	filter:opacity(20%) grayscale(100%) saturate(100%)
}

.why-slide-desc {
	text-align: center;
	position: relative;
	width: 98vw;
	height:max-content;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	
}

.why-slide-cntnt {
	border: 2vw solid #f9f9f9;
}

#why-slide-close-btn {
	border: none;
	background-color: #d7d5d5;
	width: 100%;
	font-size: 1.4rem;
	border-radius: 15px;
}