/* ----- THIS IS STYLED FOR MOBILE FIRST AT 360x400 ----*/

/* ----- GOOGLE FONTS LIBRARY ----- */
/* ----- ROBOTO: BLACK ITALIC & REGULAR | LATO: LIGHT & REGULAR */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,400;1,900&display=swap');

/* ----- GLOBAL SELECTORS ----- */
body {
	background-color: #2156A1;
	margin: 0;
	height: 100vh;
}

h1, h2 {
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
}

p {
	font-family: 'Lato', sans-serif;
}

li {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 3.5vw;
}

a {
	font-family: 'Lato', sans-serif;
	color: white;
}
ul {
	line-height: 180%;
}
/* ----- HEADER SELECTORS ---- */
header {
	display: flex;
	flex-direction: row;
	padding: 1%;
	font-size: x-small;
	justify-content: space-between;
}

#ZF-LOGO {
	width: 50vw;
	height: auto;
}

/* ----- NAV MENU ----- */
#nav-menu-options {
	list-style:none;
	line-height: 150%;
	position: absolute;
	right: 0%;
	top: 0%;
	white-space:nowrap;
	font-size: 4vw;
	background-color: #153868;
	padding: 5.5%;
	margin: 0%;
	display: none;
	transition: 2s;
	text-align: right;
}
#nav-menu-options a {
	text-decoration: none;
}

#closed_menu {
	background-color:#2156A1;
	border: none;
}

#closing-x {
	text-align: right;
}
/* ----- FOOTER SELECTORS ----- */
footer {
	padding: 2%;
	padding-bottom: 0%;
	font-size: 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color:#2156A1;
	padding-top: 40%;
}

footer a {
	color:#2156A1;
}

.footer-icons {
	width: 6vw;
	height: 5vh;
}

/* ----- INDEX.HTML ----- */

/* ----- SECTION SELECTORS ----- */
#services-list {
	background-color: white;
	padding: 10vh;
	margin: 0%;
}

/* ----- LEARN MORE BUTTON ----- */
#learn-more {
	background-color: gray;
	padding: 3%;
	text-decoration: none;
	box-shadow: 0px 0px 20px black;
	margin-left: 4%;
}

/* ---- HOME.HTML ----- */

/* ----- ZF-CF WELCOME SECTION ----- */
#welcome-container {
	background-image:url('/Resources/skyscrapers.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(140, 140, 140, 0.85);
	background-blend-mode: saturation;
	padding: 10%;
}

#welcome-container p {
	text-align: center;
	margin-top: 3%;
	color: white;
	font-size:3vw;

}

#welcome-container h1 {
	margin-top: 5%;
	margin-bottom: 0%;
	font-size:8vw;
}

/* ----- MENU BUTTONS ----- */
#home-buttons-container {
	display: flex;
	flex-direction:column;
}
#home-buttons-container a {
	padding: 5%;
}
.home-button {
	background-size: cover;
	text-decoration: none;
	font-size: xx-large;
	text-align: center;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	transition-duration:1s;
	font-weight: 900;
}
.home-button:hover {
	background-color: rgba(130, 130, 130, 0.85);
}

#service-home-button {
	background-image:url('/Resources/repairing-networks.jpg');
}
#contact-home-button {
	background-image:url('/Resources/contact-us.jpg');
	background-position-y: 60%;
}
#mission-home-button {
	background-image:url('/Resources/our-mission.jpg');
	background-position-y: 20%;
}

/* FEES & PRICING SECTION ---- */
#pricing-list {
	background-color: white;
	padding: 10%;
}

.pricelist_header {
	font-family: 'Roboto', sans-serif;
}

/* ----- WARRANTY SECTION ----- */
#warranty-container {
	background-color: white;
	padding: 5%;	
	text-align: center;
}



/* ----- SERVICES.HTML ----- */

/* ----- HEADER SECTION  ----- */
#services {
	background-image:url('/Resources/repairing-networks.jpg');
	background-size: cover;
	text-decoration: none;
	font-size: xx-large;
	text-align: center;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	transition-duration:1s;
	font-weight: 900;
}
#services a, #services h1 {
	display: flex;
	justify-content:center;
}

#services h1 {
	font-size: xxx-large;
	margin-top: 0%;
	padding-top: 5%;
	text-shadow: 0px 0px 20px gray;
}

#services a {
	background-color: rgba(195,195,195);
	border-radius: 15px;
	font-size: x-large;
	border: none;
	padding:3%;
	box-shadow: 0px 0px 20px gray;
	transition: 1s;
	color: white;
	text-decoration: none;
	width: 40%;
	text-align:center;
	margin-left:27vw;
}
#services a:hover {
	background-color: rgba(170, 170, 170);
}
#services a:active {
	background-color: rgba(90, 90, 90)
}
#spacer {
	padding: 5%;
}

/* ----- PC REPAIR SECTION ----- */
#pc-repair-lists-container {
	background:url('/Resources/pc-being-repaired.jpg');
	background-size: cover;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	background-position-y: 50%;
	display: flex;
	padding: 5%;
	justify-content: center;
}

/* ----- NETWORKING SECTION ----- */
#networking-list-container {
	background:url('/Resources/server-room-networking-equipment.jpeg');
	background-size: cover;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	background-position-y: 50%;
	display: flex;
	padding: 5%;
	justify-content: center;
}

/* ----- OTHER SECTION ----- */
#other-list-container {
	background:url('/Resources/pc-being-repaired.jpg');
	background-size: cover;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	background-position-y: 50%;
	display: flex;
	padding: 5%;
	justify-content: center;
}

/* ----- CONTACTS.HTML ----- */

/* ----- HEADER ----- */
#direct-contact-header-container {
	background:url('/Resources/contact-us.jpg');
	background-size: cover;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	background-position-y: 50%;
	display: flex;
	padding: 5%;
	justify-content: center;
}
#direct-contact-header-container h1{
	margin: 1%;
}

/* ----- HOURS OF OPERATION ----- */
#contact-main-container{
	background-color: white;
	display:flex;
	flex-direction: column;
}
.contact-icon {
	width: 35px;
	height: 35px;
}

#contact-hours-container {
	text-align: center;
}

.contact-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5%;
}
.contact-info-container a{
	color:#2156A1;
	text-decoration: none;
	padding: 3%;
}

/* ----- SOCIAL MEDIA ----- */
#social-media-container{
	background-color: white;
	padding: 3%;
	text-align: center;
}
#facebook-sm-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%;
}
#facebook-sm-container a{
	color:#2156A1;
	text-decoration: none;
	padding: 3%;
}

/* ----- MISSION.HTML ----- */
#mission-header {
	background:url('/Resources/our-mission.jpg');
	background-size: cover;
	background-color: rgba(180,180,180,.90);
	background-blend-mode:saturation;
	background-position-y: 50%;
	display: flex;
	padding: 5%;
	justify-content: center;
	margin: 0%;
}
#mission-statement {
	background-color: white;
	padding: 10%;
	height: 80vh;
	text-align: center;
}