/* ----- THIS IS STYLED FOR MOBILE FIRST AT 320x400 ----*/

/* ----- GLOBAL SELECTORS ----- */
body {
	background-color: #2156A1;
	margin: 0;
}

/* ----- HEADER SELECTORS ---- */
header {
	display: flex;
	flex-direction: row;
	border-bottom: 5px solid white;
	padding: 1%;
}
.navmenu {
	list-style:none
}

/* ----- INDEX.HTML SECTION SELECTORS -----*/
#services-list {
	background-color: white;
	padding: 8vh;
}

/* ----- INDEX.HTML BUTTON SELECTORS ----- */
#learn-more-button {
	position:sticky;

}